// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-image: url("../img/static/image-from-rawpixel-id-576393-jpeg.jpg");
    color: #f1f2f3;
    height: 100vh;
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    color: darkorange;
    font-weight: bolder;
}

a, a:visited {
    color: darkorange;
}

input[type="submit"] {
    background: darkorange;
    border: 1px solid #223445;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px 20px;
}

form {
    margin: auto;
    text-align: center;
}

footer {
    text-align: center;
}

.locale {
    position: absolute;
}