{% extends "base.html.twig" %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center w-100 h-100">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit"/>
        {{ form_end(form) }}
    </div>
{% endblock %}